{{- /* hreflang alternate tags for multilingual SEO */ -}}
{{ range .Translations }}
<link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
{{ end }}
<link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">

{{- if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ .Title | safeJS }}",
  "url": "{{ .Permalink }}",
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  {{- if .Lastmod }}
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  {{- end }}
  "inLanguage": "{{ .Lang }}",
  {{- if .Description }}
  "description": "{{ .Description | safeJS }}",
  {{- else }}
  "description": "{{ .Summary | plainify | truncate 160 | safeJS }}",
  {{- end }}
  {{- with .Params.image }}
  "image": "{{ printf "%s%s" $.Permalink . }}",
  {{- end }}
  "author": {
    "@type": "Person",
    "name": "recca0120",
    "url": "https://github.com/recca0120",
    "sameAs": [
      "https://github.com/recca0120"
    ]
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title | safeJS }}",
    "url": "{{ .Site.BaseURL }}"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
  {{- with .Params.tags }},
  "keywords": {{ . | jsonify }}
  {{- end }}
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "{{ .Site.Title | safeJS }}",
      "item": "{{ .Site.BaseURL }}"
    }
    {{- with .CurrentSection }},
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ .Title | safeJS }}",
      "item": "{{ .Permalink }}"
    }
    {{- end }},
    {
      "@type": "ListItem",
      "position": 3,
      "name": "{{ .Title | safeJS }}",
      "item": "{{ .Permalink }}"
    }
  ]
}
</script>
{{- else if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ .Site.Title | safeJS }}",
  "url": "{{ .Site.BaseURL }}",
  "description": "{{ .Site.Params.description | safeJS }}",
  "inLanguage": "{{ .Lang }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ .Site.BaseURL }}search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
{{- end -}}
