{{- if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title | jsonify }},
  "url": {{ .Permalink | jsonify }},
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  {{- if .Lastmod }}
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  {{- end }}
  {{- if .Description }}
  "description": {{ .Description | jsonify }},
  {{- else }}
  "description": {{ .Summary | plainify | truncate 160 | jsonify }},
  {{- end }}
  {{- with .Params.image }}
  "image": {{ (printf "%s%s" $.Permalink .) | jsonify }},
  {{- end }}
  "author": {
    "@type": "Person",
    "name": "recca0120",
    "url": "https://github.com/recca0120"
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  }
  {{- with .Params.tags }},
  "keywords": {{ . | jsonify }}
  {{- end }}
}
</script>
{{- else if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ .Site.Title | jsonify }},
  "url": {{ .Site.BaseURL | jsonify }},
  "description": {{ .Site.Params.description | jsonify }},
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ .Site.BaseURL }}search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
{{- end -}}
